body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: #111;
  margin: 0;
  overflow-x: hidden;
}
.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  background: #111;
}
.navbar .nav-list {
  display: flex;
}
.navbar div a {
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
  align-items: center;
  display: flex;
  color: #fff;
}
iframe {
  width: 100vw;
  height: 50vh;
}
.card {
  height: 30vh;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  border-radius: 20px;
}
.card img {
  height: 100%;
  border-radius: 20px;
  object-fit: scale-down;
}
.slider {
  width: 100%;
  overflow-x: scroll;
  display: flex;
  position: relative;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
.slider::-webkit-scrollbar {
  display: none;
}
.logo {
  width: 100px;
  object-fit: scale-down;
  margin-right: 10px;
}
.nav-pc {
  display: flex;
}
.nav-mobile {
  display: none;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #111;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 5em;
}
.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
}
.show {
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
footer {
  display: flex;
  justify-content: center;
  background-color: #111;
  color: #fff;
  padding: 10px;
  gap: 10px;
}
footer a {
  color: #555;
  text-decoration: none;
}
.searchTab {
  background: transparent;
  border: none;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .burger-active {
    display: flex;
    background: #111;
    color: #fff;
  }
  .nav-pc {
    display: none !important;
  }
  .nav-mobile {
    display: flex !important;
  }
}
